<!DOCTYPE html>
<html>
<head>
    <link type="text/css" href="main.css" rel="stylesheet">
</head>


<body id="defaultpage">
    <header>
        <img src="LOGO.png" alt="Logo" style="padding: 15px;">
    </header>

    <div class="maincontent">
        
        @RenderBody()
    </div>

</body>
</html>
